<div class="content-container">
    <div class="content-header">
        <h1 class="content-header-title">
            Employees
        </h1>
        <button class="btn">
            <img src="/icons/plus.svg" alt="Plus Icon">
            <span>New Employee</span>
        </button>
    </div>
</div>
<div class="content-display">
    <div>
        <table class="content-display-table">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Job Title</th>
                    <th>Employment Status</th>
                    <th>Department</th>
                    <th>Office Id</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td class="table-cell-link">
                        <a src="" routerLink="" alt="">{{ employee.firstName + " " + employee.lastName}}    
                            <p class="table-cell-subtitle">{{ employee.email }}</p>
                        </a>
                    </td>
                    <td class="tableAttribute">{{ employee.jobTitle ? employee.jobTitle : 'Pending...' }}</td>
                    <td class="tableAttribute">{{ employee.employementStatus }}</td>
                    <td class="tableAttribute">{{ employee.departmentName ? employee.departmentName : 'Pending...' }}</td>
                    <td class="tableAttribute">{{ employee.office.officeId }}</td>
                </tr>
        </table>
    </div>
</div>