<div class="content-container">
    <div class="content-header">
        <div class="content-header-title">
            <h1>Employees</h1>
            <p>
                Total Employees: {{ totalEmployees }}
            </p>
        </div>

        <button class="btn">
            <a class="link-container" [routerLink]="['/add/employee']">
                <img src="/icons/plus.svg" alt="Plus Icon">
                <span>New Employee</span>   
            </a>
        </button>
    </div>
    <div class="content-display">
        <table class="content-display-table">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Job Title</th>
                    <th>Employment Status</th>
                    <th>Department</th>
                    <th>Office Id</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td class="table-cell-link">
                        <a [routerLink]="['/employee', employee.employeeId]">{{ employee.firstName + " " + employee.lastName}}    
                            <p class="table-cell-subtitle">{{ employee.email }}</p>
                        </a>
                    </td>
                    <td class="tableAttribute">{{ employee.jobTitle ? employee.jobTitle : 'N/A' }}</td>
                    <td class="tableAttribute">{{ employee.employmentStatus }}</td>
                    <td class="tableAttribute">{{ employee.departmentName ? employee.departmentName : 'N/A' }}</td>
                    <td class="tableAttribute">{{ employee.office.officeId ? employee.office.officeId : 'N/A' }}</td>
                </tr>
        </table>
    </div>
        <div class="page-control-container">
            <a (click)="goToPreviousPage()" [class.disabled]="currentPage === 0">
              <img src="/icons/arrow-left-circle.svg" alt="Chevron Left Icon"/>
            </a>
            <div class="page-info-container">
              <span>Page: {{ currentPage + 1 }} of {{ totalPages }}</span>
            </div>
            <a (click)="goToNextPage()" [class.disabled]="currentPage === totalPages - 1">
              <img src="/icons/arrow-right-circle.svg" alt="Chevron Right Icon"/>
            </a>
          </div>
        
</div>