nav {
    background-color: #cbb3b3;
}

nav a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: .5em 2em .5em 2em;
    color: #fff;
}

nav a:hover {
    background-color: darkolivegreen;
}