.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-gray200);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.search-bar-container {
    width: 33%;
    margin: 1em;
    padding: 0.5em;
    border-radius: 6px;
    border: 1px solid var(--clr-gray200);
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.search-bar-container img {
    width: 24px;
    height: 24px;
    margin-right: 0.25em;
    margin: 0.5em; 
}

.search-bar-container input {
    padding: 0.25em;
    border: none;
    border-left: 1px solid var(--clr-gray200);
}

.search-bar-container input:focus {
    outline: none; 
    border-color: transparent; 
}

