<div class="sidenav-container">
    <div class="nav-header-container">
        <img src="logos/personnel-manager-logo.png" alt="Personnel Manager Logo">
        <h1>Personnel Manager</h1>
    </div>
    <div class="nav-main-container">
        <a class="nav-link-container" routerLink="" alt="Home Page">
            <img src="icons/home.svg" alt="Home Icon">
            <span>Home</span>
        </a>
        <a class="nav-link-container" routerLink="employees" alt="Employees Page">
            <img src="icons/identification.svg" alt="Employees Icon">            
            <span>Employees</span>
        </a>
        <a class="nav-link-container" routerLink="" alt="Office Page">
            <img src="icons/user-group.svg" alt="Offices Icon">
            <span>Offices</span>
        </a>
    </div>
</div>